body {
    background-color: rgba(38, 38, 39, 255);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
   
}

.header {
    text-align: center;
    color: antiquewhite;
    padding: 20px;
    padding-bottom: 10%
}
#listtext {
    text-align: center;
    color: antiquewhite;
    padding: 20px;
    padding-bottom: 10%
}
#Infotext {
    text-align: left;
    color: rgba(255, 222, 89, 255);
    padding-left: 20px;
    font-size: 20px;
}

h1 {
    color: antiquewhite;
}

h2 {
    color: rgba(255, 222, 89, 255);
}

h3 {
    color: rgba(255, 222, 89, 255);
}

h4 {
    color: antiquewhite;
}

#Navigation {
    color: white;
    text-align: left;
    float: left;
    padding-left: 10%;

}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 5px 0;
}

#image-container {
    padding-left: 25%;
}

#imageba {
    float: right;
    padding-top:5%;

}

img.center {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}

.image-info {
    position: relative;
    /* top: 10px;
    right: 10px; */
    color: rgba(255, 222, 89, 255);
}
a:link {
    color: rgba(255, 222, 89, 255);
    background-color: transparent;
    text-decoration: underline;
}

.latestInfo{
    float: left;
    display: inline;
    width: 80%;

}
ol {
    text-align: center;
    list-style-position: inside;
}

#floatimgright {
    float: right;
}

#floatimgleft {
    float: left;
}

.Textleft {
    text-align: left;
    color: antiquewhite;
    font-size: 20px;
    padding-left: 2.5%;
}

.Textright {
    text-align: right;
    color: antiquewhite;
    font-size: 20px;
    padding-left: 2.5%;
}
a.blackLink {
    color: black
  }
  
  a.blackLink:visited {
    color: black;
  }
 